.Profile {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
}

.Profile_body {
  padding-top: 8%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.Profile_FL {
  display: flex;
}

.Subscribe {
  color: white;
  background-color: red;
  border: none;
  outline-width: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 0.7rem;
}
.Signout {
  cursor: pointer;
  color: white;
  background-color: red;
  border: none;
  outline-width: 0;
  padding: 5px 0;
  margin-top: 25px;
  width: 100%;
}
.Plan_FL {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
  gap: 80px;
}

.Profile_FL > div > h5 {
  color: white;
  background-color: rgb(72, 80, 80);
  padding: 5px;
  font-weight: 600;
  font-size: 0.7rem;
}

.Profile_logo {
  object-fit: contain;
  width: 80px;
  align-self: flex-start;
}
.Profile_data {
  margin-left: 40px;
}

@media (max-width: 680px) {
  .Profile_body {
    padding-top: 10%;
    width: 60%;
  }
}

@media (max-width: 570px) {
  .Profile_body {
    padding-top: 14%;
    width: 70%;
  }
  .Profile_logo {
    width: 60px;
  }
}

@media (max-width: 488px) {
  .Profile_body {
    padding-top: 18%;
    width: 70%;
  }
  .Profile_logo {
    width: 50px;
  }
  .Profile_data {
    margin-left: 30px;
  }
}
@media (max-width: 433px) {
  .Profile_body {
    padding-top: 30%;
    width: 80%;
  }
  .Profile_logo {
    width: 40px;
  }
  .Profile_data {
    margin-left: 20px;
  }
} ;
