.Row_title {
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: white;
}
.Row_titlelarge {
  font-size: 30px;
  margin-top: 20px;
}
.Row_posters {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.Row_posters::-webkit-scrollbar {
  display: none;
}

.Row_poster {
  width: 100%;
  max-height: 200px;
  transition: all 250ms;
}
.Row_posterLarge {
  max-height: 250px;
}
.Row_poster:hover {
  transform: scale(1.08);
}
@media (max-width: 500px) {
  .Row_titlelarge {
    font-size: 26px;
  }
  .Row_poster {
    max-height: 180px;
  }
  .Row_posterLarge {
    max-height: 220px;
  }
}
@media (max-width: 400px) {
  .Row_title {
    font-size: 18px;
  }
  .Row_titlelarge {
    font-size: 22px;
  }
  .Row_poster {
    max-height: 150px;
  }
  .Row_posterLarge {
    max-height: 190px;
  }
}
